@import 'bulma.scss';

.App {
  height: 100%;
  text-align: center;
}

$appHeaderHeight: 3.0rem;
.App-header {
  box-sizing: border-box;
  height: $appHeaderHeight;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-main {
  display: flex;
  height: calc(100% - #{$appHeaderHeight});
  .input-area {
    flex: 3;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
      textarea {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border: none;
        resize: none;
    }
  }
  .rendring-area {
    flex: 7;
    box-sizing: border-box;
    height: 100%;
    padding: 5px;
  }
}
